/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.type-text {
	word-wrap: break-word;
}

.pointer
{
    border-bottom:2px solid #3bff41;
}

.match
{	
	color: #3bff41;
    // background:#E1FF3E ;
    // background:rgba(206,255,69,0.5);
}

.nomatch
{
    color: #ff2009;
    // background-color:red;
    // background:rgba(255,128,62,0.5);
}

.pointer.nomatch {
	border-bottom:2px solid #ff2009;
}

.well{
	color: #FFF;
	background-color: #2c3e50;
}

.car-container {
	outline: 5px solid #2C3E50;
	margin-bottom: 15px;
}

.timer {
	height: 100%;
    font-size: 36px;
}